{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <br /><br />
    <form action="/friends" METHOD="POST">
        <input type="text" placeholder="Name" name="name" />
        <input type="submit" value="Add Name" class="btn btn-secondary" />
    </form>
    <br /><br />
    {% for friend in friends %}
        <h4>
            {{ friend.name }} <a href="/update/{{ friend.id }}" class="btn btn-outline-secondary btn-sm">Update</a>
        </h4>
    {% endfor %}
</div>
{% endblock %}